.list-wrapper {
 z-index: 9999;
 display: flex;
 justify-content: center;
 box-shadow: 0px 2px 6px 0px #00000040;
 background-color: white;
 border-radius: 4px;
 position: absolute;
 left: 1px;
 overflow: hidden;
}

.list-wrapper--bottom {
 top: 66px;
 margin-top: 4px;
}

.list-wrapper--top {
 /* default max height + margin */
 top: -384px;
}

.list {
 overflow-y: auto;
 width: 100%;
 max-height: 380px;
}